<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bitspco.All" version="1.0.0" targetFramework="net452" />
  <package id="GeoIP" version="1.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="UAParser" version="2.1.0.0" targetFramework="net452" />
</packages>