<h2>لیست سوال های امنیتی</h2>
<hr />
<div id="grid"></div>
@{
    Html.RenderPartial("Create");
    Html.RenderPartial("Detail");
    Html.RenderPartial("Edit");
    Html.RenderPartial("Delete");
    Html.RenderPartial("Users");
}
@section Scripts {
    <script src="~/Scripts/Questions.js"></script>
}