<div id="apps" class="modal modal-gray-dark">
    <div>
        <div class="header">
            <div class="title"><i class="mdi mdi-cellphone-link"></i> <span class="px-10">لیست نرم افزار های امنیتی</span></div>
            <div class="close"><a href="#">✖</a></div>
        </div>
        <div class="body container-xs">
            <table class="table striped bordered">
                <thead>
                    <tr>
                        <th style="width: 70px">شناسه</th>
                        <th>نام</th>
                        <th>نماد</th>
                        <th>وضعیت</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>{{item.Permission.Id}}</td>
                        <td>{{item.Permission.Name}}</td>
                        <td>{{item.Permission.Symbol}}</td>
                        <td>{{item.Permission.GetStatusName()}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>