<div id="questions" class="modal modal-sky-dark">
    <div>
        <div class="header">
            <div class="title"><i class="mdi mdi-help-circle-outline"></i> <span class="px-10">لیست پاسخ به سوالات امنیتی</span></div>
            <div class="close"><a href="#">✖</a></div>
        </div>
        <div class="body container-xs">
            <form v-on:submit.prevent="add">
                <div class="flex">
                    <div class="flex-1">
                        <div class="form-group">
                            <label>سوال : </label>
                            <select class="form-control" required v-model="model.QuestionId">
                                <option v-bind:value="null">انتخاب کنید ...</option>
                                <option v-for="item in questions" v-bind:value="item.Id" v-if="!items.find(x => x.QuestionId == item.Id)">
                                    {{item.Text}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="flex-2">
                        <div class="form-group">
                            <label>پاسخ : </label>
                            <input class="form-control" required v-model="model.Answer"/>
                        </div>
                    </div>
                    <div class="px-10">
                        <button class="btn btn-green-dark">افزودن</button>
                    </div>
                </div>
            </form>
            <table class="table striped bordered mt-10">
                <thead>
                    <tr>
                        <th style="width: 70px">شناسه</th>
                        <th>سوال</th>
                        <th>پاسخ</th>
                        <th style="width: 25px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items">
                        <td>{{item.Id}}</td>
                        <td>{{item.Question.Text}}</td>
                        <td>{{item.Answer}}</td>
                        <td class="controls"><a class="btn btn-red" v-on:click="remove(item.QuestionId)"><i class="mdi mdi-delete"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>