a, a:visited, a:link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

html {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body {
    height: 100% !important;
    display: flex;
    margin: 0;
}

#help-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
    align-items: flex-start;
    justify-content: center;
    background-color: rgba(0, 0, 0,0.8);

    &.show {
        display: flex;
    }

    > div {
        margin-top: 100px;
        border-radius: 8px;
        background-color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.44);

        .title {
            display: flex;
            padding: 0 10px;

            > * {
                display: flex;
                align-items: center;
            }

            > h2 {
                flex: 1;
                color: #333 !important;
                justify-content: flex-start;
            }

            > .close {
                color: rgba(88, 88, 88, 0.55);
                justify-content: center;

                &:hover {
                    color: rgba(88, 88, 88, 1);
                }
            }
        }

        hr {
            border-color: #eaeaea;
        }

        .key {
            display: flex;
            margin: 20px 10px;
            font-size: 13px;

            > * {
                margin: 0 10px;
                display: flex;
                align-items: center;
            }

            > span:first-child {
                width: 150px;
                color: #333;
                justify-content: flex-start;
            }

            > span:not(:first-child) {
                color: #ddd;
            }

            > a {
                width: 25px;
                height: 25px;
                padding: 2px 5px;
                border-radius: 3px;
                justify-content: center;
                border: 1px solid rgba(0, 0, 0, 0.12);
                background-color: rgba(255, 255, 255, 9);
                box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.17);
            }
        }
    }
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;

    > nav {
        min-height: 50px;
        display: flex;
        /*background-color: #e24e4e;*/
        background-color: #292929;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);

        > ul {
            flex: 1;
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            align-items: center;

            &.start {
            }

            &.end {
                flex-direction: row-reverse;
            }

            > li {
                height: 100%;
                display: flex;
                color: #eee;
                box-sizing: border-box;

                > a {
                    display: flex;
                    padding: 0 15px;
                    align-items: center;
                    justify-content: center;
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.15);
                }
            }
        }
    }

    > section {
        flex: 1;
        padding: 20px;
        overflow: auto;
        position: relative;
        background-color: #1e1e1e;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background: #e24e4e;
        }
    }
}

aside {
    width: 50px;
    display: flex;
    z-index: 1000000;
    position: relative;
    flex-direction: column;
    /*background-color: #262626;*/
    background-color: #262626;

    .logo-info {
        display: flex;
        height: 50px;
        color: #fff;
        /*background-color: #c63232;*/
        background-color: #292929;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);

        .logo {
            width: 50px;
            padding: 10px;
            box-sizing: border-box;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .name {
            display: flex;
            align-items: center;
            font-size: 14px;
        }
    }

    .menu {
        flex: 1;
        position: relative;
        background-color: #262626;

        ul {
            margin: 0;
            padding: 0;
            top: 0;
            right: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            /*overflow-y: auto;
            overflow-x: visible;*/
            list-style: none;
            position: absolute;
            background-color: #262626;

            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }


            &::-webkit-scrollbar-thumb {
                border-radius: 20px;
                background: #e24e4e;
            }

            li {
                display: flex;

                > a {
                    width: 100%;
                    height: 45px;
                    display: flex;
                    color: #eee;
                    white-space: nowrap;
                    position: relative;
                    align-items: center;


                    > * {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    > i {
                        min-width: 50px;
                    }

                    > span {
                        justify-content: flex-start;
                        font-size: 13px;
                    }
                }

                ul {
                    opacity: 0;
                    transform: translateX(100%);
                }

                &:hover, &.open {
                    > a {
                        background-color: rgba(0, 0,0, 0.2);
                    }
                }

                &.open {
                    > ul {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
        }
    }

    .toolbar {
        height: 40px;
        display: flex;
        margin: 0;
        padding: 0;
        color: rgba(204, 204, 204, 0.34);
        list-style: none;
        background-color: #1c1c1c;

        li {
            flex: 1;

            &:hover {
                color: rgba(204, 204, 204, 0.5);
                background-color: rgba(0, 0, 0, 0.2);
            }

            > a {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

body.loaded {
    .menu ul {
        transition: all 300ms ease;
    }
}

body {

    &.menu-open {
        aside {
            width: 200px;

            .menu {
                li > a > span {
                    flex: 1;
                    display: flex;
                }
            }
        }
    }

    &:not(.menu-open) {

        aside {
            transition: width 500ms ease;

            .logo-info {
                .name {
                    display: none;
                }
            }

            .menu {
                li {

                    > a {

                        > span {
                            display: none;
                            top: 0;
                            bottom: 0;
                            padding: 0 10px;
                            z-index: 100000000;
                            white-space: nowrap;
                        }

                        &:hover {
                            > span {
                                background-color: #1e1e1e;
                                display: flex !important;
                            }
                        }
                    }
                }
            }

            .toolbar {
                li.lock, li.profile, li.settings {
                    display: none;
                }
            }
        }
    }

    &.full-screen {
        nav {
            .full-screen {
                display: none;
            }
        }
    }

    &:not(.full-screen) {
        nav {
            .full-screen-exit {
                display: none;
            }
        }
    }
}

.rtl {
    direction: rtl;

    body:not(.menu-open) {
        aside {
            .menu li a > span {
                right: 100%;
            }
        }
    }
}

.ltr {
    direction: ltr;
}
